<div class="container pt-4">
  <h3 class="mb-3">Top 100 URL's</h3>

  <table class="table table-striped">
    <thead>
      <tr class="d-flex">
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-3">Title</th>
        <th scope="col" class="col-4">URL</th>
        <th scope="col" class="col-3">Short URL</th>
        <th scope="col" class="col-1">Accesses</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |url index|}}
        <tr class="d-flex">
          <th scope="row" class="col-1">
            {{increment index}}
          </th>
          <td class="col-3">
            <span class="d-block text-truncate" title="{{url.title}}">{{url.title}}</span>
          </td>
          <td class="col-4">
            <span class="d-block text-truncate" title="{{url.full_url}}">{{url.full_url}}</span>
          </td>
          <td class="col-3">
            <ShortLink @shortCode={{url.short_code}} />
          </td>
          <td class="col-1">
            {{url.click_count}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
