<div class="container pt-4">
  <h3 class="mb-3">Top 100 URL's</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">URL</th>
        <th scope="col">Accesses registered</th>
        <th scope="col">Short URL</th>
      </tr>
    </thead>
    <tbody>
      {{!-- TODO: Use links to show full_url and short_code? --}}
      {{#each @model as |url index|}}
        <tr>
          <th scope="row">{{increment index}}</th>
          <td>{{url.title}}</td>
          <td>{{url.full_url}}</td>
          <td>{{url.click_count}}</td>
          <td>{{url.short_code}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
